<div class="main posts-main">
  <ul class="posts-index">
  <% @items.each do |item| %>
    <li class="posts-index-item">
      <div>
        <%= link_to image_tag(item.image), "/items/#{item.id}" %>
      </div>
      <div>
        <%= link_to(item.content, "/items/#{item.id}" )%>
      </div>
      <%= item.money%>円
    </li>
  <% end %>
  </ul>
</div>